@font-face {
    font-family: 'hipstelveticalight';
    src: url('./fonts/hipstelvetica_light-webfont.woff2') format('woff2'),
         url('./fonts/hipstelvetica_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'wild_worldbold';
    src: url('./fonts/wild_world-webfont.woff2') format('woff2'),
         url('./fonts/wild_world-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ways';
    src: url('./fonts/Ways-SemiBold.woff2') format('woff2'),
         url('./fonts/Ways-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bungee';
    src: url('./fonts/Bungee-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

