.page {
    
    @apply mt-10 md:mt-0;

    &.patterns-add {
        @apply  flex flex-col;

        .handler {
            position: absolute;
            background-color: black;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &.landscape {
                display: none;
            }
        }

        background:#3A4454 !important; 
    }

    min-height: 100vh;
    padding: 3% 4%; 
    background: url("../../public/background.png");

    &-title {
        font-size: 3em;
        font-family: 'bungee'; 
    }

    &-link {
        text-decoration: underline;
        transition: 0.1s;

        &:hover {
            color: #F5DDDD;  
        }
    }

    &-article {
        @apply max-w-5xl;
        width: 100%;

        &__title {
            font-size: 2em;
            font-family: 'fredoka';
        }
    }  
}
