.patterns {
    width: 96%;

    &-search {
        @apply mt-5 w-full flex justify-between;

        &__button {
            @apply pt-2 pb-2;

            transition: 0.25s;
            background-color: green;
            width: 20%;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: darken(green, 10);
            } 
            
        }

        input {
            width: 80%;
            background-color: #53687E;
            padding: 0 1% 0 1%;

            &::placeholder {
                color: white;
            }
        }
    }

    &-tags {
        @apply flex flex-row flex-wrap mb-5;

        .item {
            @apply mt-5 mr-5 pr-5 pl-5 pt-1 pb-1 cursor-pointer;

            border: 1px;
            font-size: 0.8em;
            border-radius: 30px;
            background-color: #53687E; 
        }
    }

    &-list {
        @apply flex flex-row flex-wrap justify-center;

        &-item {
            @apply flex flex-col items-start mb-6 md:mr-4 md:mb-4;

            background-color: #53687E; 

            &__name {
                @apply ml-3 flex;
            }

            &__test {
                svg {
                    @apply w-6 h-6 p-1 ml-1;
                    margin-top: 0.4rem;
                    border-radius: 40px;
                    border: 1px solid lighten(green, 10);
                }
                color: lighten(green, 10);
            }

            &__tags {
           
                @apply ml-3 mb-3 flex flex-wrap;

                .item {
                    @apply mr-2 mt-1 pr-2 pl-2 cursor-pointer;

                    font-size: 0.6em;
                    border-radius: 30px;
                    background-color: #53687E; 
                }
 
            }

            &__button {
                @apply pt-3 pb-3;

                transition: 0.25s;
                background-color: green;
                width: 100%;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: darken(green, 10);
                }
            }
        }

    }

}

.patterns-add {
    .submit {
        @apply mt-10 pt-3 pb-3;

        transition: 0.25s;
        background-color: green;
        width: 100%;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: darken(green, 10);
        } 
    }

    .page-content {
        @apply flex flex-col w-full;
    }

    .canvas-menu {
        overflow: scroll;
        @apply w-full;
    }

    .input-container {
        @apply w-full;

        .tag-list {
            @apply flex flex-col w-full items-center;
        
            .selected-tags {
                @extend .patterns-list-item__tags;
        
                height: 40px;
        
                @apply justify-start items-center w-full;
            }
        
            .mean-list {
                @apply flex flex-col items-start w-full;
        
                overflow-y: scroll;
                height: 150px;
                
                div {
                    @apply p-2 cursor-pointer w-full;
        
                    background-color: darken(#3A4454, 10); 
                    color: white;
                    transition: 0.2s;
        
                    &.active {
                        background-color: lighten(#3A4454, 10)
                    }
        
                    &:hover {
                        background-color: lighten(#3A4454, 5);
                    }
                }
            }
        }

        .pattern-name, .tag-input {
            @apply w-full;

            background-color: #53687E;
            padding: 0 1% 0 1%;
            align-self: center;
        
            &::placeholder {
                color: white;
            } 
        }
    }
}
